/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/12/2017, 23:31:19
    Author     : Lucio
*/
body{
/*    background-color: #e2f2f2*/
}
h3{
    text-align: center;
    font-family: arial, sans-serif;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

/*#customers tr:hover {background-color: #ddd;}*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
/*    background-color: #4CAF50;
    color: white;*/
    
    
}
